footer.footer
  .container
    .footer__title(data-aos="zoom-out-right")
        h2.title__1 Contacts
    .footer__text(data-aos="zoom-out-left")
      p Want to know more or just chat? You are   welcome!
    .footer__btn-box(data-aos="zoom-in-down")
      a(href="#").btn Send message
    .footer__social(data-aos="zoom-in")
      a(href="#").footer__social-link
        img(src="assets/imgs/social-1.svg", alt="LinkedIn")
      a(href="#").footer__social-link
        img(src="assets/imgs/social-2.svg", alt="insta")
      a(href="#").footer__social-link
        img(src="assets/imgs/social-3.svg", alt="behance")
      a(href="#").footer__social-link
        img(src="assets/imgs/social-4.svg", alt="Dribble")
    .footer__info(data-aos="zoom-in-down")
      p
        |  Like me on
        br
        |  LinkedIn, Instagram, Behance, Dribble







