footer.footer
  .container
    .footer__title
        h2.title__1 Contacts
    .footer__text
      p Want to know more or just chat? You are   welcome!
    .footer__btn-box
      a(href="#").btn Send message
    .footer__social
      a(href="#").footer__social-link
        img(src="assets/imgs/social-1.svg", alt="LinkedIn")
      a(href="#").footer__social-link
        img(src="assets/imgs/social-2.svg", alt="insta")
      a(href="#").footer__social-link
        img(src="assets/imgs/social-3.svg", alt="behance")
      a(href="#").footer__social-link
        img(src="assets/imgs/social-4.svg", alt="Dribble")
    .footer__info
      p
        |  Like me on
        br
        |  LinkedIn, Instagram, Behance, Dribble







