header.header
  .container
    .header__nav
      .header__logo.logo
        a.logo-link(href="#") Gurin
      nav.haeder__menu.menu
        ul.menu-list
          li.menu-item
            a.menu-link.active(href="#") Home
          li.menu-item
            a.menu-link(href="#") Works
          li.menu-item
            a.menu-link(href="#") Services
          li.menu-item
            a.menu-link(href="#") About
          li.menu-item
            a.menu-link(href="#") Contact
      button.mobile-nav-button(type="button")
        span.mobile-nav-button__icon
    .mobile-nav
      .header__logo.logo
        a.logo-link(href="#") Gurin
      nav.mobile-nav-list
         ul.menu-list.mobile-list
          li.menu-item
            a.menu-link.active(href="#") Home
          li.menu-item
            a.menu-link(href="#") Works
          li.menu-item
            a.menu-link(href="#") Services
          li.menu-item
            a.menu-link(href="#") About
          li.menu-item
            a.menu-link(href="#") Contact

    .header__content
      .header__content-info
        h1.header__title
          |  Sasha Gurin
          br
          |
          span  Designer & Developer
        p.header__text I’m a portrait, fashion and lifestyle photographer living In New York City. During my thirteen year tenure here.
      .header__content-img
        img(src="assets/imgs/hero.png", alt="baner-info")



