include ../mixins/item
section.passion.sevices
  .container
    //- .title__box
    //-   span.span__bg Features
    //-   h2.title__bg Food with a New Passion
    .benefits.sevices-row
      +item("assets/imgs/servises-1.svg","UI/UX Design","Our design is translated into comprehensive digital environments built on latest development standards.")
      +item("assets/imgs/servises-2.svg","Development","Our design is translated into comprehensive digital environments built on latest development standards.")(class="moto")
      +item("assets/imgs/servises-3.svg","Software testing","Our design is translated into comprehensive digital environments built on latest development standards.")(class="sun")






