section.project
  .container
    .project-section__title
      h2.title__1 Portfolio
    .project__item
      .project__box-img
        img(src="/assets/imgs/project-1.jpg", alt="project-1.jpg")
      h3.project__title
        a(href="#")  Online fashion store - Homepage
    .project__item
      .project__box-img
        img(src="/assets/imgs/project-2.jpg", alt="project-1.jpg")
      h3.project__title
        a(href="#")  Reebok Store - Concept
    .project__item
      .project__box-img
        img(src="/assets/imgs/project-3.jpg", alt="project-1.jpg")
      h3.project__title
        a(href="#") Braun Landing Page - Concept
