@import "../main/vars";
/*  FOOTER ...................*/
.footer {
  padding: 90px 0px;
  background: #ffff;
  text-align: center;
  @media (max-width: 441px) {
    padding: 50px 0px;
  }
  .footer__title {
    margin-bottom: 40px;
    @media (max-width: 450.99px) {
      margin-bottom: 20px;
    }
  }
  .footer__text {
    margin-bottom: 40px;
    @media (max-width: 450.99px) {
      margin-bottom: 20px;
    }
    p {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      max-width: 300px;
      margin: 0 auto;
      color: #070707;
    }
  }
  .footer__btn-box {
    margin-bottom: 80px;
    @media (max-width: 441px) {
      margin-bottom: 60px;
    }
  }
  .footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 61px;
    margin-bottom: 40px;
    @media (max-width: 441px) {
      column-gap: 31px;
      margin-bottom: 20px;
    }
    .footer__social-link {
      img {
        transition: all 0.3s ease-in;

        &:hover {
          animation: move 1.1s infinite linear;
        }

        @keyframes move {
          0% {
            transform: rotate(0deg);
          }
          25% {
            // transform: scale(1.1);
            transform: rotate(15deg);
          }
          50% {
            // transform: scale(1.1);
            transform: rotate(0deg);
          }
          75% {
            transform: rotate(15deg);
          }
          100% {
            transform: rotate(0deg);
            transform: scale(1);
          }
        }
      }
    }
  }
  .footer__info {
    p {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      text-align: center;

      color: #828282;
    }
  }
}
