@import "../main/vars";
/*  FOOTER ...................*/
.footer {
  padding: 90px 0px;
  background: #ffff;
  text-align: center;
  @media (max-width: 441px) {
    padding: 50px 0px;
  }
  .footer__title {
    margin-bottom: 40px;
    @media (max-width: 450.99px) {
      margin-bottom: 20px;
    }
  }
  .footer__text {
    margin-bottom: 40px;
    @media (max-width: 450.99px) {
      margin-bottom: 20px;
    }
    p {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      max-width: 300px;
      margin: 0 auto;
      color: #070707;
    }
  }
  .footer__btn-box {
    margin-bottom: 80px;
    @media (max-width: 441px) {
      margin-bottom: 60px;
    }
  }
  .footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 61px;
    margin-bottom: 40px;
    @media (max-width: 441px) {
      column-gap: 31px;
      margin-bottom: 20px;
    }
  }
  .footer__info {
    p {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      text-align: center;

      color: #828282;
    }
  }
}
